<footer>
  <div class="sections">
    <div class="about">
      <h2>About the Company</h2>
      <p>
        This company aims at helping those who dream to have a car but are tight on budget. We help to fulfil their dreams by setting up a portal where people can post their vehicle for selling and other people can buy from them at reasonable prices.
      </p>
    </div>
    <div class="contact">
      <h2>Our Contact Links</h2>
      <ul>
        <li><div><a href="#" class="fa fa-facebook"></a></div> &nbsp; &nbsp; Our Facebook page</li>
        <li><div><a href="#" class="fa fa-twitter"></a></div> &nbsp; &nbsp; Our Twitter page</li>
        <li><div><a href="#" class="fa fa-linkedin"></a></div> &nbsp; &nbsp; Our LinkedIn page</li>
      </ul>
    </div>
    <div class="links">
      <h2>Important Links</h2>
      <ul>
        <li> <a href=""> Buy Cars</a></li>
        <li> <a href="">Sell Cars</a></li>
        <li> <a href="">Compare Cars</a></li>
        <li> <a href="">Loan </a></li>
        <li> <a href="">EMI Calculator</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">&copy; 2021 Copyright</div>
</footer>
