/* Style the buttons that are used to open and close the accordion panel */
.filter-bar{
  height: 450px;
  overflow-y: auto;
  h2{
    margin: 20px;
    color: #ff5c5c;
    margin-left: 20px;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid black;
    outline: none;
    // transition-duration: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    // padding-left: 10px;
    padding: 10px 10px;
    mat-slider{
      width: 100%;

    }

    button{
      margin:15px 0;
      float:right;
      background-color: #ff5c5c;
      width: 50%;
      height: 40px;
      border-radius: 20px;
    }
    form{
      input{
        margin: 15px 0px;
      }
      button{
        margin:15px 0;
        float:right;
        background-color: #ff5c5c;
        width: 50%;
        height: 40px;
        border-radius: 20px;
      }
    }
  }

}
.filter-bar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.filter-bar::-webkit-scrollbar-track {
  background: #fff ;        /* color of the tracking area */
}

.filter-bar::-webkit-scrollbar-thumb {
  background-color: #4e4e4e52;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  // border: 3px solid orange;  /* creates padding around scroll thumb */
}

